.navbar {
  background-color: #00bf4e;
  height: 80px;
  display: flex;

  box-shadow: 4px 3px 8px #6b6f6d;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background: none;
  transition: 0.3s all;
}

.menu-bars:hover {
  margin-left: 2rem;
  font-size: 2.3rem;

  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background: none;
}

.nav-menu {
  background-color: #025725;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  box-shadow: 5px 3px 8px #00bf4e;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;

  height: 60px;
  text-decoration: none;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: 0.3s all;
}

.nav-text a:hover {
  padding: 0 20px;
  background-color: #00bf4e;
  color: white;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-titles {
  color: white;
  font-size: 14px;
  font-weight: 800;
  margin-left: 10px;
}

.nav-titles:hover {
  font-weight: 800;
  color: rgb(235, 230, 230);
}

.navbarHeader {
  right: 10;
  height: 60px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.LogoIconside {
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 25px #00bf4e;
  border-radius: 10px;
  transition: 0.3s all;
}

.LogoIconside:hover {
  height: 60px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 25px #00bf4e;
  border-radius: 10px;
}

.LogoHeader {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px white;
  height: 40px;
  margin-top: 10%;
  transition: 0.3s all;
}

.LogoHeader:hover {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 2px 3px 30px white;
}

.menuLogoEButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stripe {
  width: 110px;
  height: 3px;
  background: rgb(235, 235, 237);
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  transition: left 0.3s;
}

span {
  margin-left: 16px;
}

.test2 {
  width: 100%;
  height: 100%;
  margin-left: 50%;
}
