.customCard {
  background: white !important;
  margin-top: 30px;
  border-radius: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  box-shadow: 5px 3px 8px #6b6f6d;
}

.customCard:hover {
  background: white !important;
  margin-top: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 140%;

  box-shadow: 5px 3px 17px #00bf4e;

}


.buttonSubmit {
  height: 50px;
  width: 100%;
  background-color: white;
  color: white;
  border-color: black;
  border-width: 1.3px;
  color: black;
  transition: 0.3s all;
}

.dropdown-content li.active,
.dropdown-content li:hover {
  background-color: #00bf4e;
}

.buttonSubmit:hover {
  height: 60px;
  border-radius: 8px;
  background-color: #00bf4e;
  color: white;
  border-color: black;
  border-width: 1.3px;
  font-weight: 600;
  font-size: 20px;
}

.field {
  width: 90%;
  height: 35px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-left: 5%;
}
.field:hover {
  background-color: white;
  box-shadow: 1px 1px 3px #00bf4e;
  border-radius: 1px;
  border-color: #53d589;
}

.selectField {
  width: 95%;
  height: 35px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-left: 2.5%;
}
.selectField:hover {
  background-color: white;
  box-shadow: 1px 1px 3px #00bf4e;
  border-radius: 15px;
  border-color: #53d589;
}

.fieldNumber {
  width: 25%;
  height: 35px;
  border-radius: 1px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-left: 5%;
}
.fieldNumber:hover {
  background-color: rgb(228, 240, 230);
  box-shadow: 1px 1px 3px #53d589;
  border-radius: 15px;
  border-color: #53d589;
}

.fieldDescription {
  width: 90%;
  margin-left: 5%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.fieldDescription:hover {
  background-color: white;
  box-shadow: 1px 1px 3px #00bf4e;
  border-radius: 1px;
  border-color: #53d589;
  border-radius: 15px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #00bf4e;
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__today-button {
  background: #00bf4e;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: rgb(175, 247, 190);
  color: white;
  border: 0px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.react-datepicker__day--selected {
  background: #00bf4e !important;
}

.Art {
  width: 25%;
  height: 25%;
  margin-right: 10px;
  margin-top: 10px;
}
